{% block leaflet_map_widget %}
    {{ leaflet_stylesheet('#' ~ dom) }}
    
    {{ leaflet_javascript() }}
    <div class="input-group mb-3">
        {{ form_widget(form, form.vars.attr) }}
        <div class="input-group-append">
            <a class="btn btn-outline-primary" onclick="return ToggleReadOnlyState();">
                <i class="fa fa-edit"></i> {{ 'manual_update_location'|trans }}
            </a>
        </div>
        
    </div>
    <div class="alert alert-success" role="alert">
        <p>{{ 'leaflet_select_location_message'|trans }}</p>
    </div>
            
    <div id="{{ dom }}"></div>

    {{ leaflet_map_javascript(dom, locationPoint) }}

    <script>
    map.on('click', function (e) {
        lat = e.latlng.lat;
        lon = e.latlng.lng;

        if (theMarker != undefined) {
            map.removeLayer(theMarker);
        }

        //Add a marker to show where you clicked.
        theMarker = L.marker([lat, lon]);
        theMarker.addTo(map)
                .bindPopup('{{ 'marker_message'|trans|raw }}', {autoClose: false})
                .openPopup();

        $('#{{ id }}').val(lat + "," + lon);
        clickZoom(e);
    });
    
    function ToggleReadOnlyState() 
    {
        let field = $('#{{ id }}');
        field.attr('readonly', !field.attr('readonly'));
        field.focus();
    }
    </script>
{% endblock %}